<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
</head>
<body>
    <section>
        <form method="POST", >
            <input type="text", name="city", placeholder="City Name">
            <input type="submit", value="Search">
        </form>
    </section>
    {% with msgs = get_flashed_messages() %}
    {% if msgs %}
        {% for msg in msgs %}
        <h2>{{msg}}</h2>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {% if details %}
    <section>
        <h2>{{details.location}}</h2>
        <img src="{{details.icon}}" alt="">
        <h3><em>{{details.condition}}</em></h3>
        <h3>Temperature : {{details.temp}} C</h3>
        <h3>Wind : {{details.wind}}</h3>
        <h3>Humidity : {{details.humidity}}</h3>
        <h3>Precipitaion : {{details.precipitation}}</h3>
    </section>

    {% for day in forecast_days %}
    <section>
        <h2>{{day.date}}</h2>
        <img src="{{day.icon}}" alt="">
        <h3>{{day.condition}}</h3>
        <h3>Temperature : {{day.temp}}</h3>
        <h3>Chnace of Rain : {{day.rain_chance}}%</h3>
        <h3>Humidity : {{day.humidity}}</h3>
        <h3>UV : {{day.uv}}</h3>
    </section>
    {% endfor %}
    {% else %}
    <h1>Search for a city to begin!</h1>
    {% endif %}
</body>
</html>